@charset "utf-8";
/* CSS Document */

video {position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;opacity: 30%}
img {align-content: center;height: 400px;width: 250px;opacity:100%;}
